<%-include('header')-%>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5 rounded-botto">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Login System</h2> 
            <% if(locals.logout){%>
                    <div class="alert alert-success text-center">
                        <%= logout %>
                    </div>
                <% } %>
           
               <%if(locals.alert){%>
            
                <div class="alert alert-danger text-center">
                    <%= alert %>
                </div>
            <% } %>
            
        </div>
        <form action="/login" method="POST" class="pt-3">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="email" name="email" required>
                <small class="form-text text-muted">Register email address</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="password" required>
            </div>
            <button type="submit" class="btn btn-success rounded-bottom mt-5">Submit</button>
        </form>
    </div>
</div>



<%-include('footer')-%>
